In [3]:
import pandas as pd

In [4]:
bnakaran_raw = pd.read_csv("../scraping_results/data/bnakaran_apartments.csv", index_col=0)
    myrealty_raw = pd.read_csv("../scraping_results/data/myrealty_apartments.csv", index_col=0)

    renting_ap = bnakaran[bnakaran_raw.webpage.isin(rents.webpage)]
    filtered_data = data[(data["source"] == 'bnakaran') & (data["id"].isin(renting_ap["id"]))]
    data = data.drop(filtered_data.index)

    renting_ap = myrealty_raw[myrealty_raw.webpage.isin(rents.webpage)]
    renting_ap.id = renting_ap.id.astype(str)
    filtered_data = data[(data["source"] == 'myrealty') & (data["id"].isin(renting_ap["id"]))]
    data = data.drop(filtered_data.index)
    
    vacation_bnakaran = bnakaran[bnakaran.webpage.str.contains("vacation")]
    vacation_rows_to_delete = data[(data["source"] == 'bnakaran') & (data["id"].isin(vacation_bnakaran["id"]))]
    data = data.drop(vacation_rows_to_delete.index)

IndentationError: unexpected indent (254429028.py, line 2)

# Remove apartments for rent

In [11]:
scraping_log = pd.read_csv("../scraping_results/scraping_log.csv", index_col = 0)
data = pd.read_csv("../processed_data/data.csv")

In [3]:
scraping_log.head(1)

,source,webpage,success,error,skipped
0,bnakaran,https://www.bnakaran.com/en/apartment-for-sale...,True,NaN,True

In [12]:
rents = scraping_log[scraping_log.webpage.str.contains("rent")]
rents = rents[rents.success == True]
rents.head(1)
print(len(rents))

421

In [5]:
bnakaran = pd.read_csv("../scraping_results/data/bnakaran_apartments.csv", index_col=0)
myrealty = pd.read_csv("../scraping_results/data/myrealty_apartments.csv", index_col=0)

In [6]:
renting_ap = bnakaran[bnakaran.webpage.isin(rents.webpage)]
renting_ap

,webpage,id,price,facilities,location,area,rooms,floor,storeys,building_type,...,details,longitude,flooring,entrance_door,construction_type,renovation,windows,heating,parking,cooling
source,,,,,,,,,,,,,,,,,,,,,
bnakaran,https://www.bnakaran.com/en/apartment-for-rent...,d113164,725.0,NaN,NaN,50,2,2,5,by Tamanyan,...,NaN,40.178552,laminate,metal,stone,renovated,plastic,gas boiler,NaN,air conditioner
bnakaran,https://www.bnakaran.com/en/apartment-in-new-b...,d76965,1200.0,NaN,NaN,75,3,5,15,NaN,...,NaN,40.180365,NaN,metal,in situ concrete,renovated,plastic,gas boiler,underground,air conditioner
bnakaran,https://www.bnakaran.com/en/apartment-for-rent...,d77026,900.0,NaN,NaN,60,2,6,9,NaN,...,NaN,40.181535,laminate,metal,wall building,renovated,plastic,gas boiler,outdoor,air conditioner
bnakaran,https://www.bnakaran.com/en/apartment-in-new-b...,d99233,1300.0,NaN,NaN,140,3,8,16,NaN,...,NaN,40.183514,hardwood,metal,in situ concrete,renovated,plastic,gas boiler,NaN,air conditioner
bnakaran,https://www.bnakaran.com/en/apartment-for-rent...,d112352,1300.0,NaN,NaN,96,3,4,14,NaN,...,NaN,40.181827,laminate,metal,NaN,"renovated, uninhabited",plastic,gas boiler,outdoor,air conditioner
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
bnakaran,https://www.bnakaran.com/en/apartment-in-new-b...,d116215,8000.0,NaN,NaN,300,5,9,10,NaN,...,NaN,40.181808,laminate,metal,in situ concrete,euro renovated,plastic,centralized,underground,NaN
bnakaran,https://www.bnakaran.com/en/apartment-in-new-b...,d109969,2300.0,NaN,NaN,130,3,6,14,NaN,...,NaN,40.182378,hardwood,metal,in situ concrete,renovated,plastic,gas boiler,NaN,air conditioner
bnakaran,https://www.bnakaran.com/en/apartment-for-rent...,d1128,900.0,NaN,NaN,48,2,8,10,special,...,NaN,40.177870,hardwood,metal,wall building,renovated,NaN,gas boiler,NaN,air conditioner
bnakaran,https://www.bnakaran.com/en/apartment-in-new-b...,d109603,1600.0,NaN,NaN,57,2,1,4,NaN,...,NaN,40.181301,NaN,metal,in situ concrete,renovated,plastic,gas boiler,outdoor,air conditioner
bnakaran,https://www.bnakaran.com/en/apartment-in-new-b...,d103916,2200.0,NaN,NaN,145,3,5,8,NaN,...,NaN,40.177870,hardwood,metal,in situ concrete,renovated,plastic,centralized,NaN,air conditioner

In [7]:
renting_ap

,webpage,id,price,facilities,location,area,rooms,floor,storeys,building_type,...,details,longitude,flooring,entrance_door,construction_type,renovation,windows,heating,parking,cooling
source,,,,,,,,,,,,,,,,,,,,,
bnakaran,https://www.bnakaran.com/en/apartment-for-rent...,d113164,725.0,NaN,NaN,50,2,2,5,by Tamanyan,...,NaN,40.178552,laminate,metal,stone,renovated,plastic,gas boiler,NaN,air conditioner
bnakaran,https://www.bnakaran.com/en/apartment-in-new-b...,d76965,1200.0,NaN,NaN,75,3,5,15,NaN,...,NaN,40.180365,NaN,metal,in situ concrete,renovated,plastic,gas boiler,underground,air conditioner
bnakaran,https://www.bnakaran.com/en/apartment-for-rent...,d77026,900.0,NaN,NaN,60,2,6,9,NaN,...,NaN,40.181535,laminate,metal,wall building,renovated,plastic,gas boiler,outdoor,air conditioner
bnakaran,https://www.bnakaran.com/en/apartment-in-new-b...,d99233,1300.0,NaN,NaN,140,3,8,16,NaN,...,NaN,40.183514,hardwood,metal,in situ concrete,renovated,plastic,gas boiler,NaN,air conditioner
bnakaran,https://www.bnakaran.com/en/apartment-for-rent...,d112352,1300.0,NaN,NaN,96,3,4,14,NaN,...,NaN,40.181827,laminate,metal,NaN,"renovated, uninhabited",plastic,gas boiler,outdoor,air conditioner
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
bnakaran,https://www.bnakaran.com/en/apartment-in-new-b...,d116215,8000.0,NaN,NaN,300,5,9,10,NaN,...,NaN,40.181808,laminate,metal,in situ concrete,euro renovated,plastic,centralized,underground,NaN
bnakaran,https://www.bnakaran.com/en/apartment-in-new-b...,d109969,2300.0,NaN,NaN,130,3,6,14,NaN,...,NaN,40.182378,hardwood,metal,in situ concrete,renovated,plastic,gas boiler,NaN,air conditioner
bnakaran,https://www.bnakaran.com/en/apartment-for-rent...,d1128,900.0,NaN,NaN,48,2,8,10,special,...,NaN,40.177870,hardwood,metal,wall building,renovated,NaN,gas boiler,NaN,air conditioner
bnakaran,https://www.bnakaran.com/en/apartment-in-new-b...,d109603,1600.0,NaN,NaN,57,2,1,4,NaN,...,NaN,40.181301,NaN,metal,in situ concrete,renovated,plastic,gas boiler,outdoor,air conditioner
bnakaran,https://www.bnakaran.com/en/apartment-in-new-b...,d103916,2200.0,NaN,NaN,145,3,5,8,NaN,...,NaN,40.177870,hardwood,metal,in situ concrete,renovated,plastic,centralized,NaN,air conditioner

In [8]:
filtered_data = data[(data["source"] == 'bnakaran') & (data["id"].isin(renting_ap["id"]))]
filtered_data

,source,id,price,area,rooms,floor,storeys,bathroom_count,new_building,F_Furniture,...,L_fuel,L_school,L_place_of_worship,L_music_school,L_university,L_kindergarten,L_bus_station,L_hospital,L_prison,L_stripclub
1519,bnakaran,d113164,36250.0,50.0,2.0,2.0,5.0,1.0,0,0,...,0,1,0,0,1,2,0,0,0,0
1540,bnakaran,d76965,90000.0,75.0,3.0,5.0,15.0,1.0,1,0,...,0,2,1,2,2,3,0,3,0,0
1542,bnakaran,d77026,54000.0,60.0,2.0,6.0,9.0,1.0,0,0,...,0,1,0,0,1,1,0,0,0,0
1543,bnakaran,d99233,182000.0,140.0,3.0,8.0,16.0,3.0,1,0,...,0,3,2,2,2,4,0,5,0,0
1544,bnakaran,d112352,124800.0,96.0,3.0,4.0,14.0,1.0,0,0,...,0,0,2,0,3,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2448,bnakaran,d116215,2400000.0,300.0,5.0,9.0,10.0,5.0,1,0,...,0,3,0,1,1,2,0,2,0,0
2449,bnakaran,d109969,299000.0,130.0,3.0,6.0,14.0,2.0,1,0,...,0,1,2,0,0,1,0,1,0,0
2450,bnakaran,d1128,43200.0,48.0,2.0,8.0,10.0,1.0,0,0,...,0,1,0,0,0,0,1,0,0,0
2452,bnakaran,d109603,91200.0,57.0,2.0,1.0,4.0,1.0,1,0,...,0,2,0,1,1,3,0,3,0,0
2453,bnakaran,d103916,319000.0,145.0,3.0,5.0,8.0,1.0,1,0,...,0,1,0,0,0,0,1,0,0,0

In [9]:
data = data.drop(filtered_data.index)

In [10]:
renting_ap = myrealty[myrealty.webpage.isin(rents.webpage)]
renting_ap.id = renting_ap.id.astype(str)
filtered_data = data[(data["source"] == 'myrealty') & (data["id"].isin(renting_ap["id"]))]
data = data.drop(filtered_data.index)

/var/folders/67/47xpns1s0zn6h8g8npsy5_q80000gn/T/ipykernel_90345/1274262466.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  renting_ap.id = renting_ap.id.astype(str)

# Remove apartments for vacation | bnakaran

In [19]:
vacation_bnakaran = bnakaran[bnakaran.webpage.str.contains("vacation")]
vacation_rows_to_delete = data[(data["source"] == 'bnakaran') & (data["id"].isin(vacation_bnakaran["id"]))]
data = data.drop(vacation_rows_to_delete.index)

In [10]:
# data.to_csv("../processed_data/data.csv", index=False)

NameError: name 'data' is not defined

In [23]:
data

,source,id,price,area,rooms,floor,storeys,bathroom_count,new_building,F_Furniture,...,L_fuel,L_school,L_place_of_worship,L_music_school,L_university,L_kindergarten,L_bus_station,L_hospital,L_prison,L_stripclub
0,bars,4-3-1430,130000.0,60.5,2.0,3.0,13.0,1.0,1,0,...,1,1,0,0,0,0,0,0,0,0
1,bars,4-3-1430.1,215000.0,96.1,3.0,4.0,13.0,2.0,1,0,...,1,1,0,0,0,0,0,0,0,0
2,bars,1-N-432,560000.0,156.4,4.0,9.0,17.0,2.0,0,1,...,1,1,0,0,0,0,0,0,0,0
3,bars,1-N-429,410000.0,75.0,3.0,3.0,12.0,2.0,0,0,...,1,2,1,1,1,1,0,0,0,0
4,bars,1-A-118,420000.0,138.0,4.0,3.0,5.0,2.0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2443,bnakaran,d117204,315000.0,152.0,5.0,8.0,9.0,2.0,1,0,...,0,0,0,0,0,0,0,2,0,0
2454,bnakaran,d103147,2600000.0,280.0,3.0,8.0,10.0,2.0,1,0,...,0,3,0,0,1,1,0,0,0,0
2455,bnakaran,d117922,150000.0,78.0,2.0,4.0,10.0,1.0,0,0,...,0,1,0,0,0,0,0,3,0,0
2456,bnakaran,d93008,260000.0,90.0,3.0,3.0,5.0,2.0,0,0,...,0,0,0,0,3,0,0,0,0,0
2457,bnakaran,d117920,68500.0,35.0,2.0,9.0,9.0,1.0,0,0,...,2,3,0,0,0,3,0,0,0,0

In [12]:
scraping_log = pd.read_csv("../scraping_results/scraping_log.csv", index_col=0)
bnakaran = pd.read_csv("../scraping_results/data/bnakaran_apartments.csv", index_col=0)
rents = scraping_log[scraping_log.webpage.str.contains("rent")]
rents = rents[rents.success == True]
bnakaran_raw = pd.read_csv("../scraping_results/data/bnakaran_apartments.csv", index_col=0)
myrealty_raw = pd.read_csv("../scraping_results/data/myrealty_apartments.csv", index_col=0)

renting_ap = bnakaran[bnakaran_raw.webpage.isin(rents.webpage)]
filtered_data = data[(data["source"] == 'bnakaran') & (data["id"].isin(renting_ap["id"]))]
data = data.drop(filtered_data.index)

renting_ap = myrealty_raw[myrealty_raw.webpage.isin(rents.webpage)]
renting_ap.id = renting_ap.id.astype(str)
filtered_data = data[(data["source"] == 'myrealty') & (data["id"].isin(renting_ap["id"]))]
data = data.drop(filtered_data.index)

vacation_bnakaran = bnakaran[bnakaran.webpage.str.contains("vacation")]
vacation_rows_to_delete = data[(data["source"] == 'bnakaran') & (data["id"].isin(vacation_bnakaran["id"]))]
data.drop(vacation_rows_to_delete.index)

/var/folders/67/47xpns1s0zn6h8g8npsy5_q80000gn/T/ipykernel_8436/3391459905.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  renting_ap.id = renting_ap.id.astype(str)