In [1]:
import pandas as pd

In [14]:
data = pd.read_csv("../processed_data/data.csv")

In [15]:
data

,source,id,price,area,rooms,floor,storeys,bathroom_count,new_building,F_Furniture,...,L_fuel,L_school,L_place_of_worship,L_music_school,L_university,L_kindergarten,L_bus_station,L_hospital,L_prison,L_stripclub
0,bars,4-3-1430,130000.0,60.5,2.0,3.0,13.0,1.0,1,0,...,1,1,0,0,0,0,0,0,0,0
1,bars,4-3-1430.1,215000.0,96.1,3.0,4.0,13.0,2.0,1,0,...,1,1,0,0,0,0,0,0,0,0
2,bars,1-N-432,560000.0,156.4,4.0,9.0,17.0,2.0,0,1,...,1,1,0,0,0,0,0,0,0,0
3,bars,1-N-429,410000.0,75.0,3.0,3.0,12.0,2.0,0,0,...,1,2,1,1,1,1,0,0,0,0
4,bars,1-A-118,420000.0,138.0,4.0,3.0,5.0,2.0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2457,bnakaran,d103916,319000.0,145.0,3.0,5.0,8.0,1.0,1,0,...,0,1,0,0,0,0,1,0,0,0
2458,bnakaran,d103147,2600000.0,280.0,3.0,8.0,10.0,2.0,1,0,...,0,3,0,0,1,1,0,0,0,0
2459,bnakaran,d117922,150000.0,78.0,2.0,4.0,10.0,1.0,0,0,...,0,1,0,0,0,0,0,3,0,0
2460,bnakaran,d93008,260000.0,90.0,3.0,3.0,5.0,2.0,0,0,...,0,0,0,0,3,0,0,0,0,0
2461,bnakaran,d117920,68500.0,35.0,2.0,9.0,9.0,1.0,0,0,...,2,3,0,0,0,3,0,0,0,0